extends ../../_layouts/base-eng

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    main.postulaciones
        .postulaciones__img
        .postulaciones__intro
            h1.postulaciones__title ¿Would you like to be a part of our team of lawyers?
        form.postulaciones__form
            p.postulaciones__form__intro Please complete the form below with your personal information and work experience for consideration in our future hiring processes.
            .postulaciones__form__wrapper
                .postulaciones__form__col
                    h3.postulaciones__form__col__title PERSONAL information
                    .postulaciones__form__group
                        label.postulaciones__form__label Name
                        input.postulaciones__form__input(type="text")
                    .postulaciones__form__group
                        label.postulaciones__form__label Father’s Surname
                        input.postulaciones__form__input(type="text")
                    .postulaciones__form__group
                        label.postulaciones__form__label Mother’s Maiden Name
                        input.postulaciones__form__input(type="text")
                    .postulaciones__form__group
                        label.postulaciones__form__label Phone number
                        input.postulaciones__form__input(type="text")
                    .postulaciones__form__group
                        label.postulaciones__form__label E-mail
                        input.postulaciones__form__input(type="email")
                        
                .postulaciones__form__col
                    h3.postulaciones__form__col__title eDUCATION
                    .postulaciones__form__group
                        label.postulaciones__form__label University
                        input.postulaciones__form__input(type="text")
                    .postulaciones__form__group
                        label.postulaciones__form__label Degree
                        input.postulaciones__form__input(type="text")
                    .postulaciones__form__group
                        label.postulaciones__form__label Year of graduation / Indicate if graduation is pending
                        input.postulaciones__form__input(type="text")
                    .postulaciones__form__group
                        span.postulaciones__form__label Admitted
                        .postulaciones__form__radio
                            input.postulaciones__form__input.postulaciones__form__input--radio(type="radio", id="si", name="juramento")
                            label.postulaciones__form__label(for="si") Yes
                        .postulaciones__form__radio
                            input.postulaciones__form__input.postulaciones__form__input--radio(type="radio", id="no", name="juramento")
                            label.postulaciones__form__label(for="no") No
            .postulaciones__form__wrapper
              .postulaciones__form__col
                h3.postulaciones__form__col__title WORK HISTORY
                .postulaciones__form__group
                  label.postulaciones__form__label Previous job
                  input.postulaciones__form__input(type='text')
                .postulaciones__form__group
                  label.postulaciones__form__label Position
                  input.postulaciones__form__input(type='text')
                .postulaciones__form__group
                  label.postulaciones__form__label Start and End Dates
                  input.postulaciones__form__input(type='text', placeholder="Inicio")
                  input.postulaciones__form__input(type='text', placeholder="Termino")
                .postulaciones__form__group
                  label.postulaciones__form__label Remarks
                  input.postulaciones__form__input(type='email')
                h3.postulaciones__form__col__title.-alt attachments
                .postulaciones__form__group
                      label.postulaciones__form__label Please attach your résumé
                      input.postulaciones__form__input.postulaciones__form__input--file(type='file')
                .postulaciones__form__group
                      label.postulaciones__form__label Please attach a certificate of rank
                      input.postulaciones__form__input.postulaciones__form__input--file(type='file')
              .postulaciones__form__col
                h3.postulaciones__form__col__title FURTHER EDUCATION
                .postulaciones__form__group
                  label.postulaciones__form__label Other education
                  textarea.postulaciones__form__input.postulaciones__form__input--textarea(placeholder='PLEASE EXPLAIN ANY FURTHER EDUCATION HERE')
                h3.postulaciones__form__col__title.-alt LANGUAGES
                .postulaciones__form__group
                  span.postulaciones__form__label English
                  .postulaciones__form__radio
                      input.postulaciones__form__input.postulaciones__form__input--radio(type="radio", id="eng-basic", name="ingles")
                      label.postulaciones__form__label.-lang(for="eng-basic") Basic
                  .postulaciones__form__radio
                      input.postulaciones__form__input.postulaciones__form__input--radio(type="radio", id="eng-mid", name="ingles")
                      label.postulaciones__form__label.-lang(for="eng-mid") Intermediate
                  .postulaciones__form__radio
                      input.postulaciones__form__input.postulaciones__form__input--radio(type="radio", id="eng-adv", name="ingles")
                      label.postulaciones__form__label.-lang(for="eng-adv") Advanced
                .postulaciones__form__group
                    label.postulaciones__form__label Language text
                      input.postulaciones__form__input(type='text')
                .postulaciones__form__group
                    label.postulaciones__form__label Other language
                    input.postulaciones__form__input(type='text')
                .postulaciones__form__group
                  .postulaciones__form__radio
                      input.postulaciones__form__input.postulaciones__form__input--radio(type="radio", id="oth-basic", name="otro")
                      label.postulaciones__form__label.-lang(for="oth-basic") Basic
                  .postulaciones__form__radio
                      input.postulaciones__form__input.postulaciones__form__input--radio(type="radio", id="oth-mid", name="otro")
                      label.postulaciones__form__label.-lang(for="oth-mid") Intermediate
                  .postulaciones__form__radio
                      input.postulaciones__form__input.postulaciones__form__input--radio(type="radio", id="oth-adv", name="otro")
                      label.postulaciones__form__label.-lang(for="oth-adv") Advanced
                .postulaciones__form__group
                    button.postulaciones__form__submit(type="submit") Send
                
