extends ../../_layouts/base-eng

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    main.temas
      section.temas__list
        .temas__list__col
          article.temas__nota
            a(href='../nota/nota-1.html')
              img.temas__nota__img(src='../images/notas/nota-1.jpg')
            .temas__nota__date SEPT / 2018
            a(href='../nota/nota-1.html')
              h3.temas__nota__title El correcto manejo de siniestros evita futuros conflictos de cobertura.
          article.temas__nota
            a(href='../nota/nota-2.html')
              img.temas__nota__img(src='../images/notas/nota-2.jpg')
            .temas__nota__date OCT / 2018
            a(href='../nota/nota-2.html')
              h3.temas__nota__title El concepto de “engaño” en la infracción por publicidad engañosa.
        .temas__list__col
          article.temas__nota
            a(href='../nota/nota-3.html')
              img.temas__nota__img(src='../images/notas/nota-3.jpg')
            .temas__nota__date SEPT / 2018
            a(href='../nota/nota-3.html')
              h3.temas__nota__title Las graves consecuencias de mantener obras no regularizadas en un inmueble.
          article.temas__nota
            a(href='../nota/nota-4.html')
              img.temas__nota__img(src='../images/notas/nota-4.jpg')
            .temas__nota__date OCT / 2018
            a(href='../nota/nota-4.html')
              h3.temas__nota__title Requisitos para la contratación de trabajadores extranjeros en Chile.
        .temas__list__col
          article.temas__nota
            a(href='../nota/nota-5.html')
              img.temas__nota__img(src='../images/notas/nota-5.jpg')
            .temas__nota__date OCT / 2018
            a(href='../nota/nota-5.html')
              h3.temas__nota__title
                | Suprema validó criterios del Servicio de Evaluación Ambiental y confirmó rechazo a proyectos de acuicultura en mar abierto.
        .temas__list__col
          article.temas__nota
            a(href='../nota/nota-6.html')
              img.temas__nota__img(src='../images/notas/nota-6.jpg')
            .temas__nota__date OCT / 2018
            a(href='../nota/nota-6.html')
              h3.temas__nota__title Nueva imagen corporativa Ovalle / Consejeros Legales
