extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.contacto
        section.contacto__wrapper
            .contacto__data
                .contacto__data__wrap
                    a(href="mailto:contacto@ocl.cl") contacto@ocl.cl
                    a(href="tel:+56225779000") \(+56\) 2 2577 9000
                    p
                        |Cerro El Plomo Nº 5420, of. 903
                        br
                        | Las Condes
                        br
                        |Santiago, Chile
                        br
                        C. Postal 7550000


            .contacto__people
                .contacto__people__wrap
                    p
                        |Gerencia de Administración 
                        br
                        |y Recursos Humanos
                        br
                        |Isabel Quiroz
                        br
                        |isabel.quiroz@ocl.cl

                    p
                        | Gerencia de Finanzas
                        br
                        | María Paz Costa
                        br
                        | mariapaz.costa@ocl.cl

                    p
                        | Facturación y Cobranzas
                        br
                        | Claudia Rabí
                        br
                        | claudiarabi@ocl.cl
