extends ../../_layouts/base-eng

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    main.nosotros
        .nosotros__text
            h1.nosotros__text__main
                | We are professionals 
                br
                | who can provide 
                br
                | the objectivity and 
                br
                | closeness of an 
                br
                | advisor /
            p.nosotros__text__content The firm was founded as Ovalle y Compañía in 1963, by Jorge Ovalle Quiroz, a well-known constitutional lawyer.  Since then, we have developed and evolved, focusing on professional precision under a strategic view, with the objectivity and closeness of an advisor.
            
        img.img-responsive(src="/images/home/nosotros.jpg")
    
