.section-title {
    text-transform: uppercase;
    color: $black;
    font-family: $altFont;
    letter-spacing: 2.2px;
    font-size: 4vw;
    margin: 0 0 20px;
    font-weight: 200;

    @include mq(md){
        font-size: 1.65vw;
    }

    &:before {
        content: '/';
        margin-right: 10px;
    }
}

.home {
    height: 63vh;
    min-height: 480px;

    &__hero {
        position: relative;

        &:hover {
            .home__hero__quote {
                transform: translateX(0);
            }
        }

        &__slider {
            .slick-dots {
                bottom: -30px;
                li{
                    width: 10px;
                    height: 10px;

                    button:before {
                        color: $black;
                    }
                }
            }
        }

        &__img {
            position: relative;
            height: 37.8vh;
            margin-bottom: 25.2vh;
            overflow: hidden;

            @include mq(md) {
                margin-bottom: 0;
                height: 63vh;
            }

            img {
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                left:0;
                top:0;
            }
        }

        &__quote {
            @include trans;
            padding: 30px;
            position: absolute;
            top:65%;
            bottom:0;
            left:0;
            right: 0;
            background: $fadedRed;
            pointer-events: none;

            @include mq(md) {
                width: 28%;
                min-width: 380px;
                right: auto;
                top:0;
                transform: translateX(-100%);
            }

            &__text {
                font-family: $quoteFont;
                font-size: 5vw;
                line-height: 1.5;
                margin: 0;

                @include mq(md) {
                    font-size: 2.38vw;
                }
            }
        }
    }
}
