extends ../../_layouts/base-eng

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    main.nosotros
        .nosotros__text
            h1.nosotros__text__main
                | Nuestro trabajo
                | se basa en el rigor 
                | profesional, con la
                | objetividad y cercanía
                | de un consejero /
            p.nosotros__text__content Somos una firma de abogados con una visión global, creativa y comprometida con cada cliente. Nuestro origen se remonta a 1963, año en que don Jorge Ovalle Quiroz, connotado abogado constitucionalista, fundó el estudio jurídico Ovalle y Compañía. Desde entonces nos hemos desarrollado y evolucionado, centrándonos en el rigor profesional e intelectual, la mirada estratégica y la objetividad y cercanía de un consejero.  
            p.nosotros__text__content Prestamos un servicio especializado, integrador y de excelencia, que incorpora las distintas habilidades de un equipo altamente calificado y talentoso, formado por abogados con la sensibilidad y el pensamiento crítico necesarios para detectar y comprender los requerimientos de cada cliente.

                
            
        img.img-responsive(src="/images/home/nosotros.jpg")
    
