header.header
    .header__col.header__col--logo
        .header__logo
            a(href="/en/")
                img(src="../../images/logo.png")
    
    .header__hamburguer
        span
        span
        span
    
    .header__col.header__col--nav
        .header__nav
            .header__nav__col
                ul.header__nav__list
                    li.header__nav__list__item
                        a.header__nav__link(href="/en/practice-areas") Practice Areas
                    li.header__nav__list__item
                        a.header__nav__link(href="/en/team") Lawyers / Team
            .header__nav__col
                ul.header__nav__list
                    li.header__nav__list__item
                        a.header__nav__link(href="/en/about-us") About Us
                    li.header__nav__list__item
                        a.header__nav__link(href="/en/subjects-of-interest") Subjects of Interest
                    li.header__nav__list__item
                        a.header__nav__link(href="/en/careers") Careers
            .header__nav__col
                ul.header__nav__list
                    li.header__nav__list__item
                        a.header__nav__link(href="/en/contact") Contact Us
            .header__nav__col
                ul.header__nav__language
                    li.header__nav__language__selector.-active(data-lang="eng") EN
                    li.header__nav__language__divider  /
                    li.header__nav__language__selector(data-lang="esp") ES
            
