extends ../../_layouts/base-eng

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'
  
block content
    main.nota
        .nota__col.nota__col--image
            img.nota__image(src="/images/notas/nota.jpg")
        .nota__col.nota__col--content
            .nota__col--content__heading
                .nota__col--content__info
                    span._date 4 marzo­—2017  
                    | /  
                    span._autor M. gonzalez b.
                h1.nota__col--content__title Ley de aportes al espacio público
            .nota__col--content__main
                .nota__col--content__text
                    p En el Diario Oficial de fecha 15 de octubre de 2016, se publicó la Ley Nº 20.958, que “Establece un Sistema de Aportes  al Espacio Público”, cuya dictación, si bien ha pasado bastante desapercibida en los medios de comunicación, introduce importantes modificaciones e innovaciones para el desarrollo de futuros proyectos inmobiliarios. En el presente artículo enunciaremos brevemente las medidas que más impactan a esta última actividad.
                    p Como es bien sabido, el crecimiento de las urbes no siempre se ha conducido en armonía con el desarrollo de la misma comunidad que la habita, lo que ha traído consecuencias en la calidad de vida de sus integrantes, por ejemplo, cada vez más se percibe la escasez de áreas verdes o plazas para la recreación. 
                    p A fin de hacer frente a este problema, se dicta la Ley Nº 20.958, cuyo Mensaje1 describe en forma muy clara su espíritu o intención, señalando que: “El presente proyecto de ley propone rescatar el principio original de la legislación urbanística chilena, en cuanto a que todos los proyectos de construcción en los que van a habitar personas, colaboren con la conformación de ciudades equilibradas, en las cuales no sólo los recintos privados sean los adecuados, sino también los espacios públicos, los lugares donde transcurre gran parte de la vida de las personas, espacios colectivos que dan sentido                     a la idea de “civitas”, que hace que una ciudad sea más que una simple aglomeración de construcciones, y que a su vez, sus habitantes se conviertan en “ciudadanos”.
                    p Con tal propósito, la Ley Nº 20.958 modifica, entre otros, a la Ley General de Urbanismo y Construcciones.
                    
                .nota__col--content__sidebar
                    ul.nota__tips
                        li 
                            strong 1
                            span Mensaje Nº 90-360 de fecha 03 de agosto de 2012.
                        li
                            strong 2
                            span Se hace presente que la Ley Nº 20.958 modifica otros artículos de la LGUC.
                        li
                            strong 3
                            span De conformidad con el nuevo Artículo 169º de la LGUC, el crecimiento urbano por extensión es el “proceso que incorpora un nuevo suelo urbanizado a consecuencia de un loteo”.
                
