extends ../_layouts/base-eng

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

include ../_modules/slider/slider

block content
    main.home
        section.home__hero
            +slider('home__hero__slider')
                each slide, index in site.data.home.slider
                    .home__hero__slide
                        .home__hero__img
                            img(src=slide)
                        if index == 2
                            .home__hero__quote
                                h1.home__hero__quote__text
                                    | We offer businesses
                                    br
                                    | a wide range of
                                    br
                                    | legal services and solutions /
                
